

body {
    background-color: #1c2036;
    color: #fff;
    font-family: monospace;
    font-size: 16px;
    position: relative;
}


header {
    background-color: #87f8d8;
    color: rgb(17, 16, 16);
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
}

.header {
    position: absolute;
}

#wallet-connect {
    right: 10px;
    margin: 10px;
    padding: 10px;
}

#name {
    left: 15px;
    top: -5px;
    font-family: fantasy;
}

#github {
    height: 45px;
    top: 8px;
    left: 310px;
}

#linkedin {
    height: 30px;
    top: 15px;
    left: 180px;
}

#kaggle {
    height: 30px;
    top: 18px;
    left: 435px;
}

