

/* Header */

header {
    background-color: #87f8d8;
    color: rgb(17, 16, 16);
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    border: 1px solid #fff;
}

header .header {
    position: relative;
}

header .header > div {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
}

.header-left {
    top: -2px;
}

.header-right {
    right: 1%;
    margin-top: 1%;
}

#name {
    left: 15px;
    top: -5px;
    font-family: fantasy;
}

.links {
    display: inline-block;
}

.links > div {
    display: inline-block;
    margin-right:0;
    margin-left:0;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.links img {
    height: 100%;
}

.links #linkedin {
    width: 70%;
}

.links #kaggle {
    width: 80%;
    height: 90%;
    margin-top: 5%;
}

.ethereum-wallet {
    display: inline-block;
    position: relative;
    height: 40px;
    vertical-align: middle;
}

#connect {
    height: 100%;
}





body {
    background-color: #1c2036;
    color: #fff;
    font-family: monospace;
    font-size: 16px;
}





